button.submit {
  float: right;
}

form#cms {
  margin-top: 50px;
}

form#postData {
  margin-top: 50px;
}

#cms textarea {
  resize: none;
}

.author-container {
  margin-top: 50px;
}

.author-list {
  margin-top: 25px;
}

.blog-container {
  margin-top: 30px;
}

.blog {
  margin-top: 30px;
}

#author-name {
  width: 100%;
  height: 35px;
  margin-top: 5px;
}

.top-30 {
  margin-top: 30px;
}

body {
  font-family: 'helvetica', sans-serif;
  font-size: 16px;
  color: black;
  background-color: antiquewhite;
  text-shadow: black;


}

a {
  color: Black;
}

a:hover {
  color: #b40404;
}

.card {
  color: black;
  margin-bottom: 20px;
}

.cmsBorder {
  border-width: 2px;
  border-color: blanchedalmond;
}

div {
  display: block;
}

.picture {
  width: auto;
  height: 100%;
}

label {
  font-size: 12pt;
  color: black;
  font-weight: bolder;
}

#titlePD {
  text-align: center;
}

.card-body {
  max-height: 100px
}